[submodule "src/ur_modern_driver"]
	path = src/ur_modern_driver
	url = https://github.com/VictorVigara/ur_modern_driver
[submodule "src/ur_msgs"]
	path = src/ur_msgs
	url = https://github.com/VictorVigara/ur_msgs
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/VictorVigara/realsense-ros
[submodule "src/moveit_calibration"]
	path = src/moveit_calibration
	url = https://github.com/ros-planning/moveit_calibration
[submodule "src/vl53l0x_driver"]
	path = src/vl53l0x_driver
	url = https://github.com/Lucasmogsan/vl53l0x_driver.git
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
[submodule "universal_robot"]
	path = universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
