<launch>

    <arg name="real_camera" default="false" />
    <arg name="dist_sensor_on" default="true" />

    <!-- Load the YAML file containing the parameter -->
    <rosparam command="load" file="$(find control)/config/params.yaml" />

    <!-- Launch UR driver -->
    <include file="$(find ur_modern_driver)/launch/ur10_bringup.launch"/>

    <!-- Launch MoveIt UR10 config -->
    <include file="$(find custom_ur10_moveit_config)/launch/demo_ur10.launch"/>

    <group if="$(arg real_camera)">
        <!-- Launch dummy perception -->
        <include file="$(find perception)/launch/camera_perception.launch"/>
    </group>

    <group unless="$(arg real_camera)">
        <!-- Launch dummy perception -->
        <include file="$(find perception)/launch/dummy_perception.launch"/>
    </group>

    <group if="$(arg dist_sensor_on)">
        <!-- Launch dummy perception -->
        <include file="$(find vl53l0x_driver)/launch/simple_publisher.launch"/>
    </group>
    

    <!-- Launch UR10 control -->
    <include file="$(find control)/launch/control.launch"/>

</launch>
